.bucketPanel {
    width: 500px;
    padding: 10px;
}

.productRemoveBtn:hover {
    cursor: pointer;
}

.priceCount {
    display: flex;
    justify-content: space-between;
}

.priceCount > div {
    display: inline-block;
    width: 60px;
}